asgiref
beautifulsoup4
certifi
cffi
charset-normalizer
click
cryptography
cssselect
defusedxml
dj-database-url
Django
django-cors-headers
django-extensions
django-multiselectfield
django-sendgrid-v5
djangorestframework
djangorestframework_simplejwt
djoser
ecdsa
feedfinder2
feedparser
filelock
idna
jieba3k
joblib
lxml
lxml_html_clean
MarkupSafe
newspaper3k
nltk
oauthlib
pillow
psycopg2-binary
pycparser
PyJWT
python-dateutil
python-http-client
python3-openid
PyYAML
regex
requests
requests-file
requests-oauthlib
sendgrid
sgmllib3k
six
social-auth-app-django
social-auth-core
soupsieve
sqlparse
tinysegmenter
tqdm
typing_extensions
urllib3
Werkzeug
